.input-field {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.focus {
  outline: none;
  border-color: #007bff;
}

.standard {
  border: none;
  border-bottom: 1px solid #ced4da;
}

.outlined {
  border: 1px solid #b1bac4;
}

.filled {
  background-color: #e6ecf1;
}

.error {
  border-color: #dc3545;
}
